.subscribe {
    background-color: #ffc800;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subscribe_content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.text {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input {
    padding: 10px;
    border-radius: 25px;
    border: none;
    outline: none;
    font-size: 16px;
}

.button {
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button:hover {
    background-color: #333;
}
@media (max-width: 700px)
{

}